<header class="container my-8 sticky top-0 z-10">
  <div class="card">
    <p-menubar [model]="menuItems">
      <ng-template #end>
        <div class="mt-1">
            <a pRipple routerLink="/cart">
              <p-overlaybadge
                severity="info"
                badgeSize="small"
                [value]="storeService.cart.length"
              >
                <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
              </p-overlaybadge>
            </a>
        </div>
      </ng-template>
    </p-menubar>
  </div>
</header>
